<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Home Page</title>
</head>
<body>

{{if .First}}
Welcome {{.First}} {{.Last}}, username: {{.Username}}
<h2>Go to <a href="/inventory">the inventory page</a></h2>
<a href="/logout">Logout</a>
{{else}}
<h2>Go to <a href="/login">login page</a></h2>
<h2>Go to <a href="/register">registration page</a></h2>
{{end}}
</body>
</html>